html,body {
  width: 100%;
}

@font-face {
font-family: 'Larsseit';
font-style: normal;
font-weight: normal;
src: local('Larsseit'), url('fonts/Larsseit.woff') format('woff');
}

@font-face {
font-family: 'Larsseit Light';
font-style: normal;
font-weight: normal;
src: local('Larsseit Light'), url('fonts/Larsseit-Light.woff') format('woff');
}

@font-face {
font-family: 'Larsseit Medium';
font-style: normal;
font-weight: normal;
src: local('Larsseit Medium'), url('fonts/Larsseit-Medium.woff') format('woff');
}

@font-face {
font-family: 'Larsseit Bold';
font-style: normal;
font-weight: normal;
src: local('Larsseit Bold'), url('fonts/Larsseit-Bold.woff') format('woff');
}



body {
    font-family: 'Larsseit','Helvetica';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    font-size: 16px;
}

p {
    font-size: 1em;
    line-height: 1.8;
    margin: 0;
    margin-bottom: 1em;
    font-family: 'Larsseit';
    letter-spacing: 0.8px;
    color: #828282;
    max-width: 90%;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 0.9em;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Larsseit Bold';
    color: #000;
    font-weight: bold;
}

li {
    display: inline;
    min-width: 100px;
    margin-left: 3rem;
}

h1 {
    font-weight: normal;
    line-height: 1.22;
    font-size: 3em;
    margin: 0;
    margin-bottom: 1.25rem;
    color: $color-heading;
}

h2 {
    font-weight: normal;
    line-height: 1.22;
    font-size: 2.25em;
    margin: 0;
    margin-bottom: 1em;
}

h3 {
    font-weight: normal;
    line-height: 1.22;
    font-size: 1.875em;
    margin: 0;
    margin-bottom: 1em;
}

h4 {
    font-weight: normal;
    line-height: 1.225;
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 1em;
}

h5 {
    font-weight: normal;
    display: inline-block;
    line-height: 1.22;
    font-size: 0.875em;
    margin: 0;
    margin-bottom: 3em;
    color: $color-title;
}
hr {
    display: inline-block;
    align: center;
    vertical-align: middle;
    color: $color-title;
    background: $color-title;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-between;
  background: black;
  color: white;
  padding: 1rem;
  align-items: center;
}

.centermenu , .centermenu ul {
  display: flex;
}

li {
  list-style: none;
  margin: 0 1rem;
}

ul {
  display: flex;
}
.ul>li:nth-child(1) {
  margin: 0rem;
}
.centermenu ul > li {
  margin: 0 1rem;
  text-decoration: none;
  list-style: none;
}
.profile {
  display: flex;
  align-items: center;
}
.profilepic {
  height: auto;
  width: auto;
  max-height: 24px;
  margin: 0 1rem;
}

.logo {
  font-size: 2rem;
  font-weight: 500;
}


.movielist {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.poster {
  width: auto;
  height: auto;
  max-height: 10rem;
  max-width: 14rem;
}

.topMovies {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.movieTitle {
  display: flex;
  flex-wrap: wrap;
  max-width: 14rem;
  font-family: 'Larsseit Bold';
  color: #000;
  font-weight: bold;
}