/*------------------------------------*    #UTILS - Color Variables
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  background-color: #fafafa; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  height: 100%;
  width: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

@font-face {
  font-family: 'Colfax Light';
  font-style: normal;
  font-weight: normal;
  src: local("Colfax Light"), url("/assets/fonts/Colfax-Light.woff") format("woff"); }

@font-face {
  font-family: 'Colfax Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Colfax Medium"), url("/assets/fonts/Colfax-Medium.woff") format("woff"); }

@font-face {
  font-family: 'Colfax Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Colfax Regular"), url("/assets/fonts/Colfax-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Colfax Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Colfax Bold"), url("/assets/fonts/Colfax-Bold.woff") format("woff"); }

/*------------------------------------*    # Simple Typography Settings
\*------------------------------------*/
body {
  font-size: 14px; }
  @media (min-width: 800px) {
    body {
      font-size: 16px; } }

/*------------------------------------*    # Type
\*------------------------------------*/
*, html, body {
  font-size: 16px;
  font-family: "Colfax-Light", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Colfax-Regular' , sans-serif;
  margin: 0 0 24px 0;
  color: #000000;
  line-height: 1.333em;
  font-weight: 400;
  text-align: left; }

h1 {
  font-size: 2rem; }
  @media (min-width: 800px) {
    h1 {
      font-size: 3rem; } }

h2 {
  font-size: 2.30769rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.76471rem; }

h5 {
  font-size: 1.66667rem; }

h6 {
  font-size: 1.5rem; }

p {
  margin-top: 20px;
  font-size: 1.0625rem;
  line-height: 1.2em;
  color: #505050; }
  p:first-of-type {
    margin-top: 0; }

a {
  font-family: 'Colfax-Regular', sans-serif;
  color: #4eaff6;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  a:hover {
    color: #1d99f4; }

ul, ol {
  margin: 20px 0 0 20px; }
  ul li, ol li {
    margin-top: 10px;
    line-height: 1.5em;
    color: #505050; }
  ul ul, ul ol, ol ul, ol ol {
    margin-top: 0; }

ul li {
  list-style: none; }

ul ul li {
  list-style: none; }

ol li {
  list-style: none; }

hr {
  height: 1px;
  margin: 30px 0;
  border: none;
  background-color: #DADADA; }

blockquote {
  margin: 30px 0;
  font-size: 1.75rem;
  line-height: 1.5em;
  color: #212121;
  text-align: center;
  font-style: normal !important; }

table {
  width: 100%;
  margin: 30px 0;
  border-collapse: collapse; }

table, td, th {
  border: 1px solid #DADADA;
  text-align: left; }

th {
  font-weight: 800; }

th, td {
  padding: 15px; }

figure {
  margin: 30px 0; }
  figure img {
    margin: 0; }

figcaption {
  margin-top: 10px;
  color: #6a6a6a;
  font-size: 16px; }

pre {
  display: block;
  margin: 0 0 40px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #DADADA;
  overflow: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  pre code {
    position: static;
    padding: 0;
    border: none;
    line-height: 1.5em; }

code {
  position: relative;
  top: -0.2em;
  padding: 3px;
  font-family: Courier New, Courier, monospace;
  font-size: 0.75893rem;
  color: #747474;
  line-height: 1em;
  pointer-events: none;
  border: 1px solid #DADADA;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

em, i, .italic {
  font-style: italic; }

strong, b, .bold {
  font-weight: 800; }

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  margin: 0; }

.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto; }

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem; }

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem; }

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.col-xs {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%; }

.col-xs-1 {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%; }

.col-xs-2 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%; }

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.col-xs-4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%; }

.col-xs-5 {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%; }

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.col-xs-7 {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%; }

.col-xs-8 {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%; }

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.col-xs-10 {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%; }

.col-xs-11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%; }

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }

.col-xs-offset-0 {
  margin-left: 0; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.start-xs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start; }

.center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.end-xs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end; }

.top-xs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.bottom-xs {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.between-xs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.first-xs {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }

.last-xs {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

@media only screen and (min-width: 48em) {
  .container {
    width: 49rem; }
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-0,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-sm {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-sm-offset-0 {
    margin-left: 0; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .start-sm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-sm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .end-sm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-sm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-sm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom-sm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .between-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-sm {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .last-sm {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media only screen and (min-width: 64em) {
  .container {
    width: 65rem; }
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-0,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-md {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-md-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }
  .col-md-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-md-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  .col-md-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-md-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }
  .col-md-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-md-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }
  .col-md-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-md-offset-0 {
    margin-left: 0; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .start-md {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-md {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .end-md {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-md {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom-md {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .between-md {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-md {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .last-md {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media only screen and (min-width: 75em) {
  .container {
    width: 76rem; }
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-0,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-lg {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }
  .col-lg-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  .col-lg-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }
  .col-lg-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }
  .col-lg-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-lg-offset-0 {
    margin-left: 0; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .start-lg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-lg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .end-lg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-lg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-lg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom-lg {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .between-lg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-lg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .last-lg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

.header {
  display: flex;
  position: fixed;
  background: 0;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: 0;
  z-index: 10;
  top: 0;
  left: 0;
  height: 80px;
  background: white; }
  .header ul {
    margin: 0;
    padding: 0; }
  .header li {
    display: inline;
    margin-left: 2em;
    font-size: 0.75em;
    text-transform: uppercase; }
    .header li a {
      color: white; }
      .header li a:hover {
        color: #0B132B; }
  .header__wrapper {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%; }
  .header__left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
  .header__logo {
    display: flex;
    align-items: center; }
    .header__logo img {
      height: auto;
      width: auto;
      max-height: 42px; }
  .header__right {
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    width: 100%; }
  @media (min-width: 800px) {
    .header {
      background: white;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.024); }
      .header__wrapper {
        padding: 0 1rem; }
      .header__right {
        display: flex; } }

.footer {
  display: flex;
  flex-direction: row;
  background: white;
  align-items: center;
  margin: 0;
  padding: 0;
  box-shadow: 0;
  z-index: 14;
  bottom: 0;
  margin: 0 auto;
  padding: 1rem 0rem; }
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center; }
  .footer__left {
    display: flex;
    flex-direction: row;
    font-size: 0.85em;
    color: #9EB2B5;
    flex: 1;
    width: 80%; }
  .footer__right {
    display: flex; }
    .footer__right a {
      opacity: 0.7;
      margin-left: 1rem; }
      .footer__right a img {
        height: 1.2em;
        width: auto;
        margin: 0 auto;
        margin-right: 2rem;
        margin-bottom: 1rem; }
      .footer__right a:hover {
        opacity: 1; }
  @media (min-width: 800px) {
    .footer {
      justify-content: center;
      margin: 0 auto;
      padding: 1rem 0rem; }
      .footer__wrapper {
        flex-direction: row; } }

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  form h5 {
    font-size: 1.25em; }

input, textarea, select, option {
  border: none;
  color: #0B132B;
  background: #EFF5F6;
  border-bottom: 1px solid #03D9C9;
  padding: 1em;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
  border-radius: 0;
  -webkit-appearance: none;
  border-radius: 0;
  transition: all 0.2s ease; }
  input::placeholder, textarea::placeholder, select::placeholder, option::placeholder {
    color: rgba(11, 19, 43, 0.3); }
  input:focus, textarea:focus, select:focus, option:focus {
    background: 0;
    color: #03D9C9; }

input.btn {
  margin: 0; }

label {
  font-size: 0.8em;
  color: #9EB2B5; }

.select__wrapper {
  position: relative; }
  .select__wrapper::after {
    content: '\25BE';
    top: 0rem;
    position: absolute;
    right: 1rem;
    top: 20%; }

.select {
  width: 100%;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  height: 46px; }
  .select option[value=""][disabled] {
    color: #9EB2B5; }

textarea {
  line-height: 1.8; }

.hero__cards {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.movieImage {
  max-height: 25rem !important; }
  .movieImage--main {
    height: auto;
    width: 100%; }

.card {
  display: flex;
  flex-direction: column;
  background-color: transparent; }
  .card__details {
    display: flex;
    flex-direction: column;
    padding-bottom: 0rem; }
  .card__description {
    margin: 0rem;
    padding: 0rem; }
  .card__image {
    max-width: auto;
    max-height: auto;
    width: 100%;
    height: 100%;
    max-height: 10rem;
    object-fit: cover;
    box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.024); }
    .card__image--long {
      height: 20rem; }
  .card__heading {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    margin: 0rem;
    padding: 0rem; }
  .card__labels {
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 0.875rem; }
  .card__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0rem; }
    .card__actions .secondary-link {
      flex: 1;
      background-color: #fafafa; }

figure {
  margin-bottom: 0; }

.cards {
  padding: 0rem 1rem; }

.content {
  display: flex;
  flex-direction: row; }

a {
  text-transform: uppercase;
  transition: all 0.4s ease;
  font-size: 0.875rem; }
  a:hover {
    cursor: pointer;
    transition: all 0.4s ease; }

button {
  border: none;
  transition: all 0.4s ease; }
  button:hover {
    cursor: pointer;
    transition: all 0.4s ease; }

.btn {
  margin: 1em;
  padding: 1em 2em;
  font-size: 0.85em;
  font-weight: 700;
  transition: all 0.4s ease; }

.btn-primary {
  background: #03D9C9;
  box-shadow: 0 4px 6px 0 rgba(195, 198, 206, 0.4);
  box-shadow: 0 2px 4px 0 rgba(3, 217, 201, 0.39), 0 4px 6px 0 rgba(195, 198, 206, 0.16);
  border-radius: 2px;
  color: white;
  transition: all 0.4s ease; }
  .btn-primary:hover {
    cursor: pointer;
    color: white;
    transform: scale(1.04);
    box-shadow: 0 12px 20px 0 rgba(195, 198, 206, 0.16);
    box-shadow: 0 8px 32px 0 rgba(3, 217, 201, 0.39), 0 24px 48px 0 rgba(195, 198, 206, 0.16);
    transition: all 0.4s ease; }

.btn-secondary {
  background: white;
  border-radius: 2px;
  color: #9EB2B5;
  box-shadow: 0 4px 6px 0 rgba(195, 198, 206, 0.16); }
  .btn-secondary:hover {
    transform: scale(1.04);
    color: #03D9C9;
    box-shadow: 0 12px 20px 0 rgba(195, 198, 206, 0.16); }

.btn-header {
  border: 1px solid #EBEBEB;
  border-radius: 2px;
  font-weight: 500;
  font-size: 1em;
  padding: 1em 2em;
  margin: 0rem;
  color: #03D9C9 !important; }
  .btn-header:hover {
    color: white !important;
    background: #03D9C9;
    border: 1px solid transparent;
    cursor: pointer; }

.primary-link {
  border: none;
  font-weight: bold;
  background: #1BD986;
  color: white;
  padding: 1rem 2rem;
  margin: 0;
  line-height: 2rem; }
  .primary-link--buy {
    background: #006DFF; }

.secondary-link {
  border: none;
  background: #fff;
  color: blue;
  padding: 1.5rem;
  margin: 0; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

body {
  height: 100%;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  background: #fafafa; }
  @media (min-width: 800px) {
    body {
      background: #fafafa;
      font-size: 16px; } }

.main {
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
  padding-bottom: 5rem;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .main__heading {
    color: #D5EAF9;
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 3em;
    font-weight: lighter;
    text-align: center; }
    .main__heading span {
      color: white;
      background: rgba(0, 0, 0, 0.1);
      padding: 0 0.3em;
      -webkit-transform: perspective(48px) rotateX(-39deg) scale(0.6, 0.9); }
  .main__description {
    max-width: 80%;
    font-size: 1em;
    font-weight: lighter;
    line-height: 1.4;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 0.7em;
    color: rgba(255, 255, 255, 0.6); }
  @media (min-width: 800px) {
    .main {
      padding-top: 6rem;
      justify-content: center; }
      .main__heading, .main__description {
        text-align: left; }
      .main__description {
        font-size: 1.25em;
        max-width: 90%;
        margin: 0; } }

.sort-row {
  padding: 1rem; }

.sort {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #efefef; }
  .sort ul {
    margin: 0;
    padding: 0;
    flex: 1;
    display: flex; }
    .sort ul li {
      margin: 0;
      padding: 0;
      margin-right: 2rem; }

.active {
  font-weight: bold;
  font-family: 'Colfax-bold', sans-serif; }

.sort-action {
  background: #F2F2F2;
  padding: 1rem; }

.cta {
  display: flex;
  flex-direction: column;
  margin-top: 2em; }
  .cta a {
    margin-left: 0;
    margin-right: 2em; }
  @media (min-width: 800px) {
    .cta {
      flex-direction: row; } }

.announcement {
  display: flex;
  align-items: center;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.07);
  padding: 0.5em; }

.new-pill {
  display: flex;
  align-items: center;
  padding: 1em 2em;
  font-size: 0.6em;
  line-height: 1em;
  font-weight: 600;
  color: #fff;
  background: #382FBC;
  text-transform: uppercase;
  border-radius: 50px; }

.message {
  display: flex;
  align-items: center;
  padding: 1em 1em;
  font-size: 0.6em;
  line-height: 1em;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  border-radius: 50px;
  margin-right: 1em; }

.form-bg {
  background: #0B132B;
  border-radius: 10px;
  padding: 4rem 1rem 1rem; }

.padding-1 {
  padding: 0 1rem; }

.half {
  width: 100%; }
  .half--left {
    background: #0B132B;
    width: 100%; }
  .half--right {
    height: 100%;
    overflow-y: hidden;
    width: 100%; }
  @media (min-width: 800px) {
    .half {
      width: 50%; }
      .half--left {
        background: #0B132B; }
      .half--right {
        height: 100vh;
        overflow-y: hidden; } }

.careers {
  width: 98vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left; }
  .careers__content {
    padding-top: 2rem; }
  .careers h6 {
    font-size: 0.85rem;
    text-align: left;
    margin-bottom: 0;
    color: #03D9C9; }
  .careers h2 {
    font-size: 1.875rem;
    color: white;
    text-align: left;
    margin: 0 0 1em; }
  .careers h5 {
    font-size: 1.25rem;
    font-weight: 100;
    color: white;
    text-align: left; }
  .careers p {
    color: #cccccc;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: 1px; }
  .careers p.lead {
    color: #03D9C9; }
  @media (min-width: 800px) {
    .careers {
      display: flex;
      flex-direction: row; }
      .careers__content {
        padding-top: 8rem; } }

.mail-heading {
  color: #0B132B !important;
  margin: 0.25em 0em 1em !important; }

.founder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 4rem 0rem 2rem; }
  .founder-image {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem; }
    .founder-image img {
      margin: 0; }
    .founder-image span {
      margin: 0 auto;
      font-size: 0.85rem;
      letter-spacing: 4px;
      text-align: center;
      padding: 0.5rem 2rem;
      background: #03D9C9; }
  .founder-details h6 {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #cccccc; }
  @media (min-width: 800px) {
    .founder {
      display: flex;
      flex-direction: row; }
      .founder-image {
        margin-right: 2rem;
        padding-left: 0.6rem; } }

.dark {
  color: #0B132B !important; }
  .dark:hover {
    color: #03D9C9 !important; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  z-index: 20;
  /* Sit on top */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5);
  /* Black w/ opacity */
  border: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0 img;
    right-margin: 0; }
  .modal .mg-bottom {
    margin-bottom: 2rem; }
  .modal h5 {
    margin-bottom: 0.675rem;
    font-size: 1.1rem;
    font-weight: 500; }
  .modal p {
    font-size: 0.6rem;
    color: #9EB2B5; }
  @media (min-width: 800px) {
    .modal h5 {
      margin-bottom: 0.675rem;
      font-size: 1.5rem;
      font-weight: 500; }
    .modal p {
      font-size: 0.875rem;
      color: #9EB2B5; } }

/* Modal Content/Box */
.modal-content {
  margin: 0 auto;
  margin-top: calc(  ( 100% - 77.75% )/2);
  width: 80%;
  background-color: #fff;
  /* width: 20%;  Could be more or less, depending on screen size */ }

.modal-top {
  padding-top: 2rem; }

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: 300; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

/* Modal Header */
.modal-header {
  text-align: center;
  color: #0B132B; }

/* Modal Body */
.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white; }

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s; }

.modal-image {
  height: 5rem;
  overflow: hidden; }
  .modal-image img {
    height: auto;
    width: auto;
    max-width: 100%;
    margin: 0;
    margin-top: -12rem; }
  @media (min-width: 800px) {
    .modal-image {
      height: auto;
      overflow: hidden; }
      .modal-image img {
        height: auto;
        width: auto;
        max-width: 100%;
        margin: 0; } }

.no-padding {
  padding: 0 !important; }

.modal-btn {
  padding-bottom: 2rem; }
  @media (min-width: 800px) {
    .modal-btn {
      padding-top: 1rem; } }

.mc-field-group {
  display: flex;
  flex-direction: column;
  justify-content: center; }

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 300;
    opacity: 1; } }

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 300;
    opacity: 1; } }


html,body {
  width: 100%;
}

@font-face {
font-family: 'Larsseit';
font-style: normal;
font-weight: normal;
src: local('Larsseit'), url('fonts/Larsseit.woff') format('woff');
}

@font-face {
font-family: 'Larsseit Light';
font-style: normal;
font-weight: normal;
src: local('Larsseit Light'), url('fonts/Larsseit-Light.woff') format('woff');
}

@font-face {
font-family: 'Larsseit Medium';
font-style: normal;
font-weight: normal;
src: local('Larsseit Medium'), url('fonts/Larsseit-Medium.woff') format('woff');
}

@font-face {
font-family: 'Larsseit Bold';
font-style: normal;
font-weight: normal;
src: local('Larsseit Bold'), url('fonts/Larsseit-Bold.woff') format('woff');
}



body {
    font-family: 'Larsseit','Helvetica';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    font-size: 16px;
}

p {
    font-size: 1em;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 1em;
    margin-top: 1em;
    font-family: 'Larsseit';
    letter-spacing: 0.8px;
    color: #828282;
    max-width: 90%;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 0.9em;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Larsseit Bold';
    color: #000;
    font-weight: bold;
}

li {
    display: inline;
    min-width: 100px;
    margin-left: 3rem;
}

h1 {
    font-weight: normal;
    line-height: 1.22;
    font-size: 3em;
    margin: 0;
    margin-bottom: 1.25rem;
    color: $color-heading;
}

h2 {
    font-weight: normal;
    line-height: 1.22;
    font-size: 2.25em;
    margin: 0;
    margin-bottom: 1em;
}

h3 {
    font-weight: normal;
    line-height: 1.22;
    font-size: 1.875em;
    margin: 0;
    margin-bottom: 1em;
}

h4 {
    font-weight: normal;
    line-height: 1.225;
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 1em;
}

h5 {
    font-weight: normal;
    display: inline-block;
    line-height: 1.22;
    font-size: 0.875em;
    margin: 0;
    margin-bottom: 3em;
    color: $color-title;
}
hr {
    display: inline-block;
    align: center;
    vertical-align: middle;
    color: $color-title;
    background: $color-title;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-between;
  background: black;
  color: white;
  padding: 1rem;
  align-items: center;
}

.centermenu , .centermenu ul {
  display: flex;
}



li {
  list-style: none;
  margin: 0rem;
}

ul {
  display: flex;
}
.ul>li:nth-child(1) {
  margin: 0rem;
}

li:last-child {
  margin: 0rem;
  padding: 0rem;
}
.centermenu ul > li {
  margin: 0 1rem;
  text-decoration: none;
  list-style: none;
}


.centermenu , .centermenu ul >li:last-child {
  display: flex;
   margin: 0rem;
}

.profile {
  display: flex;
  align-items: center;
}
.profilepic {
  height: auto;
  width: auto;
  max-height: 24px;
  margin: 0 1rem;
}

.logo {
  font-size: 2rem;
  font-weight: 500;
}


.movielist {
  display: flex;
  flex-direction: column;
  margin: 1rem 0.25rem;
}

.poster {
  width: auto;
  height: auto;
}

.topMovies {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.movieTitle {
  display: flex;
  flex-wrap: wrap;
  max-width: 14rem;
  margin-top: 1rem;
  font-family: 'Larsseit Bold';
  color: #000;
  font-weight: bold;
}
ul {
  margin: 0;
}
.padding-2rem {
  padding-top: 5rem;
}

.fullscreen-video {
  width: 100vh;
}

.title {
  padding-left: 2rem;
}

.user-data {
  display: flex;
  justify-content: flex-end;
}
.announcement {
  font-size: 12px;
  width: 100%;
  background: none;
}

.logo-img {
  height: 40px;
}

.logout {
  border: 0;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: none;
}